{% extends 'layout.html' %}

{% block title %}
 superhero page
{% endblock %}
{% block content %}
    <div class='m-4 p-4 border-2 border-blue-500 rounded-lg bg-blue-100'>

        <h1 class='text-3xl'>Superhero</h1>
    </div>

    <div class='m-4 p-4 border-2 border-green-500 rounded-lg bg-green-100'>

        <h1 class='text-3xl'>Superman</h1>
    
        <p>Superman is a fictional superhero appearing in American comic books published by DC Comics. Created by writer Jerry Siegel and artist Joe Shuster, he first appeared in Action Comics #1 in 1938. Superman is one of the most iconic and enduring characters in popular culture, known for his superhuman abilities, including flight, super strength, invulnerability, heat vision, and x-ray vision. He is often depicted as a symbol of hope, justice, and the American way.</p>
    </div>
    <nav>
        <a href="{% url 'admin:index' %}">Admin</a> |
        <a href="{% url 'batman' %}">Batman</a> |
    
    </nav>  

    
{% endblock %}